OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.pdb
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.pdb
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.csprojResolveAssemblyReference.cache
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.pdb
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.pdb
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.pdb
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.csprojResolveAssemblyReference.cache
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.pdb
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Contract.pdb
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.dll
OWTest/TFL/Tfl.Contract/bin/Debug/Tfl.Dto.pdb
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.csprojResolveAssemblyReference.cache
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.dll
OWTest/TFL/Tfl.Contract/obj/Debug/Tfl.Contract.pdb
